<div class="container container-main">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                About Tinatapi
            </h1>
            <p class="lead">

            </p>
            <p>
               Tinatapi (<em>pronounced tin-a-tap-e</em>) stands for "<em>Tinatapi is not a travel API</em>" (a pun on the notion that it contains information useful to travellers but not <em>exlusively</em> intended for them).
            </p>
            <p>
                The software is provided free of charge without warrenty for both commercial and non-commercial use.
            </p>
            <p>
                All data used under licence. See the invidual sources in "Credits" for details.
            </p>
            <p>
                <i class="fa fa-lg fa-github"></i> It is <strong>public domain</strong> software and maintained at <a href="https://github.com/tinata/tinatapi">https://github.com/tinata/tinatapi</a>
            </p>
            <h3>About the data</h3>
            <p>
                All data sets are used with permission (see "Credits" below for acknowledgments and sources).
            </p>
            <p>
                If data is not available (travel advice, total population, human rights data, etc) then no property for it is returned.
            </p>
            <p>
                The service should currently be considered beta. <a href="https://github.com/tinata/tinatapi/issues">Bug reports, feature requests and suggestions are welcome!</a>
            </p>
            <h2>Credits</h2>
            <p>
                All data used under licence. See the invidual sources for details of how the data can be re-used.
            </p>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-chevron-right"></i> <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-office">UK Foreign &amp; Commonwealth Office</a></li>
                <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://www.un.org">United Nations</a></li>
                <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://humanrightsdata.org">CIRI Human Rights Data Project</a></li>
                <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://ilga.org">International Lesbian, Gay, Bisexual, Trans and Intersex Association</a></li>
                <li><i class="fa-li fa fa-chevron-right"></i> <a href="https://www.cia.gov/library/publications/the-world-factbook/">CIA World Factbook</a></li>
                <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://openexchangerates.org">Open Exchange Rates</a></li>
                <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://wikipedia.org">Wikipedia</a></li>
            </ul>
            <p>
                Thank you to these organisations for providing free, open access to their data under attribution.
            </p>
            <p>
                Additional data was provided by Thomas Salmon Peter Lunt, Kate Watson at <a href="https://twitter.com/search?q=FCOHACK">#FCOHACK</a>.
            </p>
            <p>
                Thank you to <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-office">UK Foreign &amp; Commonwealth Office</a> and <a href="http://rewiredstate.org">RewiredState</a> for organizing the FCO Hack which kicked off this project.
            </p>
            <p>
                Tinata is maintained by <a href="http://twitter.com/iaincollins">Iain Collins</a> and <a href="http://twitter.com/JReeve0">Joe Reeve</a>.
            </p>
            <p>
                Hosting provided by <a href="http://inkrato.com">inkrato</a>.
            <p>
            <h3>Images</h3>
            <p>
                Photography courtesy of <a href="http://www.flickr.com/photos/68546469@N07/9693834016/">Ester Zeta</a>
            </p>

            <h2>Terms &amp; Conditions</h2>
            <h4>Public domain licence</h4>
            <pre>
This is free and unencumbered software released into the public domain.

Anyone is free to copy, modify, publish, use, compile, sell, or
distribute this software, either in source code form or as a compiled
binary, for any purpose, commercial or non-commercial, and by any
means.

In jurisdictions that recognize copyright laws, the author or authors
of this software dedicate any and all copyright interest in the
software to the public domain. We make this dedication for the benefit
of the public at large and to the detriment of our heirs and
successors. We intend this dedication to be an overt act of
relinquishment in perpetuity of all present and future rights to this
software under copyright law.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
OTHER DEALINGS IN THE SOFTWARE.

For more information, please refer to <a href="http://unlicense.org">unlicense.org</a>
            </pre>
         </div>
    </div>
</div>
