<div class="container container-main">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                About Tinatapi
            </h1>
            <p>
               <strong>Tinatapi</strong> (<em>pronounced tin-a-tap-e</em>) stands for "<em>Tinatapi Is Not A Travel API</em>" - a pun on the notion that it contains information useful to travellers but has not been <em>exlusively</em> created with travellers in mind,
               as the data it privovides is also extremly useful for a wide range of purposes - such as data journalism, adding value to existing software and for data mashups.
            </p>
            <p>
                <strong>Tinatapi</strong> is a <strong>free service</strong>, released as <strong>public domain software</strong> and is <strong>provided without warrenty</strong> (see <a href="#terms_and_conditions">Terms &amp; Conditions</a> for details).
            </p>

            <h3>About the service</h3>
            <p>
                You are free to use, modify and republish the data exposed by the <strong>Tinatapi</strong> for both commerical and non-commerical purposes,
                provided it is appropriately attributed.
            </p>
            <p>
                 The 'attribution' property, present only when attribution is actually required, provides full details of appropriate attribution you should use when republishing data (e.g. <em>travelAdvice.attribution</em> provides attribution information for the Travel Advice section).
            </p>
            <p>
                Not all information is available for all countries. Where data is not available for a particular country (e.g. travel advice, population statistics, etc) no property is returned.
            </p>
            <p>
                If you would like to report any potential licensing issues, problems with the service or to suggest additional open datasets that could be incorporated please <a href="https://github.com/tinata/tinatapi/issues">raise issues on GitHub</a> or <a href="mailto:tinatapi@iaincollins.com?subject=Tinatapi">get in touch via email</a>.
            </p>

            <h3>About the software</h3>
            <p>
                <i class="fa fa-lg fa-github"></i> You can download the source for <strong>Tinatapi</strong> from <a href="https://github.com/tinata/tinatapi">https://github.com/tinata/tinatapi</a>
            </p>
            <p>
                <a href="https://github.com/tinata/tinatapi/issues">Bug reports, feature requests and suggestions are welcome</a>.
            </p>
            
            <h2>Acknowledgements</h2>
            <p>
                <strong>Tinatapi</strong> incorporates selected, edited information from a range of sources, including:
            </p>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-chevron-right"></i> <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-office">UK Foreign &amp; Commonwealth Office</a></li>
                <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://www.un.org">United Nations</a></li>
                <li><i class="fa-li fa fa-chevron-right"></i> <a href="https://www.cia.gov/library/publications/the-world-factbook/">CIA World Factbook</a></li>
                <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://humanrightsdata.org">CIRI Human Rights Data Project</a></li>
                <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://ilga.org">International Lesbian, Gay, Bisexual, Trans and Intersex Association</a></li>
                <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://openexchangerates.org">Open Exchange Rates</a></li>
                <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://wikipedia.org">Wikipedia</a></li>
            </ul>
            <p>
                See the individual data providers for details of how the raw data they provide may be used (some come with restrictions).
            </p>
            <p>
                Thank you to these organisations for providing free, open access to their data.
            </p>

            <h3>Additional thanks</h3>
            <p>
                Photography courtesy of <a href="http://www.flickr.com/photos/68546469@N07/9693834016/">Ester Zeta</a>
            </p>
            <p>
                Thank you to <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-office">UK Foreign &amp; Commonwealth Office</a> and <a href="http://rewiredstate.org">RewiredState</a> for organizing the <a href="http://hacks.rewiredstate.org/events/fcohack/">FCO Hack</a> which inspired this project.
            </p>
            <p>
                Consular data analysis provided by Thomas Salmon Peter Lunt, Kate Watson at <a href="https://twitter.com/search?q=FCOHACK">#FCOHACK</a>.
            </p>
            <p>
                Tinata is maintained by <a href="http://twitter.com/iaincollins">Iain Collins</a> and <a href="http://twitter.com/JReeve0">Joe Reeve</a>.
            </p>            
            <p>
                Hosting provided by <a href="http://inkrato.com">inkrato</a>.
            </p>
            
            <h2 id="terms_and_conditions">Terms &amp; Conditions</h2>
            <p class="lead">Public domain licence</p>
            <pre>
This is free and unencumbered software released into the public domain.

Anyone is free to copy, modify, publish, use, compile, sell, or
distribute this software, either in source code form or as a compiled
binary, for any purpose, commercial or non-commercial, and by any
means.

In jurisdictions that recognize copyright laws, the author or authors
of this software dedicate any and all copyright interest in the
software to the public domain. We make this dedication for the benefit
of the public at large and to the detriment of our heirs and
successors. We intend this dedication to be an overt act of
relinquishment in perpetuity of all present and future rights to this
software under copyright law.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
OTHER DEALINGS IN THE SOFTWARE.

For more information, please refer to <a href="http://unlicense.org">unlicense.org</a>
            </pre>
         </div>
    </div>
</div>
