<div class="jumbotron hidden-xs">
    <a href="https://github.com/tinata/tinatapi"><img style="position: absolute; top: 51px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="clearfix">
                    <span class="fa-stack pull-left">
                        <i class="fa fa-lg fa-circle fa-stack-2x" style="color: #abc0d6;"></i>
                        <i class="fa fa-lg fa-globe fa-stack-2x" style="color: #2f465b;"></i>
                    </span>
                    <span class="pull-left">Tinatapi</span>
                    <br/>
                    <span class="lead pull-left">
                        Free, open access to information about countries
                    </span>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container visible-xs">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="visible-xs"><i class="fa fa-lg fa-globe"></i> Tinatapi</h1>
            <p>
                Free, open access to information about countries
            </p>
            <br/>
        </div>
    </div>
</div>
<div class="wrapper-home clearfix">
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-9">
                <h2>How to use Tinatapi</h2>

                <p class="lead">
                    Tinatapi is an open source, collaborative project created using open data
                </p>
                
                <p>
                    You don't need to signup or have an API key to use Tinatapi - just call a URL via REST and receive a response in JSON.
                </p>
                
                <p>
                    If you're not a software developer, you might be interested to know the data is also <a href="https://github.com/tinata/tinatapi/tree/master/data/csv">available for download in CSV format</a>.
                </p>
            
                <h3>Fetch information about every country</h3>
                <p class="well well-code">
                    <a href="/countries">/countries.json</a> - Get information about every country in a single request.
                </p>
            
                <h3>Fetch information about a specific country</h3>
            
                <h4>By ISO identifier</h4>
                <p>Use <strong>/countries/{ISO-identifier}.json</strong> to get information about a country using it's 2 or 3 character ISO identifier.</p>
                <h4>Examples</h3>
                <p class="well well-code"><a href="/countries/USA">/countries/USA.json</a> - Get information about the United States</p>
                <p class="well well-code"><a href="/countries/CN">/countries/CN.json</a> - Get information about China</p>
                <p class="well well-code"><a href="/countries/ZW">/countries/ZW.json</a> - Get information about Zimbabwe</p>
                <p class="well well-code"><a href="/countries/IR">/countries/IR.json</a> - Get information about Iran</p>
            
                <h4>By country name</h4>
                <p>Although using the ISO code is recommended (because of how much names vary) you can also reference countries by name.</p>
                <p class="well well-code"><a href="/countries/United_States">/countries/United_States.json</a> - Get information about the United States</p>
                <p class="well well-code"><a href="/countries/Canada">/countries/Canada.json</a> - Get information about Canada</p>
                <p class="well well-code"><a href="/countries/France">/countries/France.json</a> - Get information about France</p>
                <p class="well well-code"><a href="/countries/India">/countries/India.json</a> - Get information about India</p>
             </div>
            <div class="col-sm-3">
                <h3>Datasources</h3>
                <p>
                    All data used under licence.
                </p>
                <p>
                    See the invidual sources for details of how the data can be re-used.
                </p>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-chevron-right"></i> <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-office">UK Foreign &amp; Commonwealth Office</a></li>
                    <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://www.un.org">United Nations</a></li>
                    <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://humanrightsdata.org">CIRI Human Rights Data Project</a></li>
                    <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://ilga.org">International Lesbian, Gay, Bisexual, Trans and Intersex Association</a></li>
                    <li><i class="fa-li fa fa-chevron-right"></i> <a href="https://www.cia.gov/library/publications/the-world-factbook/">CIA World Factbook</a></li>
                    <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://openexchangerates.org">Open Exchange Rates</a></li>
                    <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://wikipedia.org">Wikipedia</a></li>
                </ul>
                <p>
                    This is a new service (as of January 2014). Work is underway to make the licensing much clearer (this may involving excluding data sets that limit re-use).
                </p>
                <p>
                    If you spot any obivous problems with the licensing or would like to suggest additional open datasets that could be incorporated <a href="mailto:tinatapi@iaincollins.com?subject=Tinatapi">please get in touch</a>.
                </p>
                <h3>Contributions welcome</h3>
                <p>
                    <i class="fa fa-lg fa-github"></i>  Tinatapi is <strong>public domain</strong> software. 
                </p>
                <p>
                    You can download it from <a href="https://github.com/tinata/tinatapi">https://github.com/tinata/tinatapi</a>
                </p>
                <p>
                    <a href="https://github.com/tinata/tinatapi/issues">Bug reports, feature requests and suggestions are welcome.</a>
                </p>
            </div>
        </div>
    </div>
</div>