<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>About Tinatapi</h1>
            <p class="lead">
               
            </p>
            <h2>API URLs</h2>
            <a href="/all/">/all/</a> - Get information about available countries
     </div>
    </div>
</div>
