<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>About Tinatapi</h1>
            <p class="lead">
               
            </p>
            <h2>API URLs</h2>
            <hr/>
            <ul>
                <li>
                    <p><a href="/country/">/country/</a> - Get information about all available countries.</p>
                </li>
                <li>
                    <p><a href="/country/UK">/country/{2 ISO}</a> - Get information about a specific country using it's 2 character ISO code.</p>
                    <p>Examples:</p>
                    <p><a href="/country/US">/country/US</a> - United States</p>
                    <p><a href="/country/AF">/country/AF</a> - Afghanistan</p>
                    <p><a href="/country/ZE">/country/ZE</a> - Zimbabwe</p>
                </li>
            </ul>
     </div>
    </div>
</div>
