<div class="jumbotron">
    <a href="https://github.com/tinata/tinatapi"><img class="hidden-xs" style="position: absolute; top: 71px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="clearfix">
                    <span class="fa-stack pull-left hidden-xs hidden-sm">
                        <i class="fa fa-lg fa-circle fa-stack-2x" style="color: #abc0d6;"></i>
                        <i class="fa fa-lg fa-globe fa-stack-2x" style="color: #2f465b;"></i>
                    </span>
                    <span class="pull-left">Tinatapi</span>
                    <br/>
                    <span class="lead pull-left">
                        Free, open access to information about countries
                    </span>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="wrapper-home clearfix">
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-9">
                <br/>
                <p class="lead">
                    <strong>Tinatapi</strong> is an open source, collaborative project created using open data
                </p>              
                <h3>How to use Tinatapi</h3>
                <p>
                    You don't need to signup or have an API key to use Tinatapi - just call a URL via REST and receive a response in JSON.
                </p>
                
                <h4>Fetch information about every country</h4>
                <p class="well well-code">
                    <span class="text-muted">api.tinata.co.uk</span><a href="/countries">/countries.json</a> - Get information about every country in a single request.
                </p>
            
                <h4>Fetch information about a specific country</h4>            
                
                <h5>By ISO identifier</h5>
                <p>Use <strong>/countries/{ISO-identifier}.json</strong> to get information about a country using it's 2 or 3 character ISO identifier or number.</p>
                <div id="flag" class="flag hidden-xs pull-left" style="height: 50px; width: 55px; margin: 4px 10px; background-image: url(/countries/US/flag.svg);"></div>
                <p class="well well-code"><span class="text-muted">api.tinata.co.uk</span><a href="/countries/USA">/countries/USA.json</a> - Get information about the United States</p>
                <div id="flag" class="flag hidden-xs pull-left" style="height: 50px; width: 55px; margin: 4px 10px; background-image: url(/countries/RU/flag.svg);"></div>
                <p class="well well-code"><span class="text-muted">api.tinata.co.uk</span><a href="/countries/RU">/countries/RU.json</a> - Get information about Russia</p>
                <div id="flag" class="flag hidden-xs pull-left" style="height: 50px; width: 55px; margin: 4px 10px; background-image: url(/countries/CN/flag.svg);"></div>
                <p class="well well-code"><span class="text-muted">api.tinata.co.uk</span><a href="/countries/156">/countries/156.json</a> - Get information about China</p>
                
                <h5>By country name</h5>
                <p>Although using an ISO code is recommended you can also reference countries by name.</p>
                <div id="flag" class="flag hidden-xs pull-left" style="height: 50px; width: 55px; margin: 4px 10px; background-image: url(/countries/ZA/flag.svg);"></div>
                <p class="well well-code"><span class="text-muted">api.tinata.co.uk</span><a href="/countries/South_Africa">/countries/South_Africa.json</a> - Get information about South Africa</p>
                <div id="flag" class="flag hidden-xs pull-left" style="height: 50px; width: 55px; margin: 4px 10px; background-image: url(/countries/IR/flag.svg);"></div>
                <p class="well well-code"><span class="text-muted">api.tinata.co.uk</span><a href="/countries/Iran">/countries/Iran.json</a> - Get information about Iran</p>                                
                <p>Countries can be looked up by known aliases. For example "<a href="/countries/United_Kingdom">United Kingdom</a>", "<a href="/countries/Britain">Britain</a>", "<a href="/countries/Great_Britain">Great Britain</a>" all point to the <a href="/countries/UK">UK</a>.</p>
                
                <h5>National flags</h5>
                <p>You can also look up national flags (as SVG images) by ISO code, country name or alias.</p>
                <div id="flag" class="flag hidden-xs pull-left" style="height: 50px; width: 55px; margin: 4px 10px; background-image: url(/countries/FR/flag.svg);"></div>
                <p class="well well-code"><span class="text-muted">api.tinata.co.uk</span><a href="/countries/France/flag">/countries/France/flag.svg</a> - Get the French flag</p>
                <div id="flag" class="flag hidden-xs pull-left" style="height: 50px; width: 55px; margin: 4px 10px; background-image: url(/countries/GB/flag.svg);"></div>
                <p class="well well-code"><span class="text-muted">api.tinata.co.uk</span><a href="/countries/GB/flag">/countries/GB/flag.svg</a> - Get the British flag</p>                
                <div id="flag" class="flag hidden-xs pull-left" style="height: 50px; width: 55px; margin: 4px 10px; background-image: url(/countries/IN/flag.svg);"></div>
                <p class="well well-code "><span class="text-muted">api.tinata.co.uk</span><a href="/countries/356/flag">/countries/356/flag.svg</a> - Get the Indian flag</p>
             </div>
            <div class="col-sm-3">
                <h3>Licencing</h3>
                <p>
                    <strong>Tinatapi</strong> is a <strong>free service</strong>, released as <strong>public domain software</strong> and is <strong>provided without warrenty</strong>.
                </p>
                <p>
                    You are free to use, modify and republish the data exposed by <strong>Tinatapi</strong> for both commerical and non-commerical purposes,
                    provided it is appropriately attributed.
                </p>

                <h3>Acknowledgements</h3>
                <p>
                    <strong>Tinatapi</strong> incorporates selected, edited information from a range of sources, including:
                </p>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-chevron-right"></i> <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-office">UK Foreign &amp; Commonwealth Office</a></li>
                    <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://www.un.org">United Nations</a></li>
                    <li><i class="fa-li fa fa-chevron-right"></i> <a href="https://www.cia.gov/library/publications/the-world-factbook/">CIA World Factbook</a></li>
                    <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://www.worldbank.org/">World Bank</a></li>                    
                    <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://humanrightsdata.org">CIRI Human Rights Data Project</a></li>
                    <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://ilga.org">International Lesbian, Gay, Bisexual, Trans and Intersex Association</a></li>
                    <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://openexchangerates.org">Open Exchange Rates</a></li>
                    <li><i class="fa-li fa fa-chevron-right"></i> <a href="http://wikipedia.org">Wikipedia</a></li>
                </ul>
                <p>
                     See <a href="/about/">About Tinatapi</a> for more information.
                </p>

                <h3>About Tinatapi</h3>
                <p>
                    <i class="fa fa-lg fa-github"></i> You can download <strong>Tinatapi</strong> from <a href="https://github.com/tinata/tinatapi">https://github.com/tinata/tinatapi</a>
                </p>
                <p>
                    <a href="https://github.com/tinata/tinatapi/issues">Bug reports, feature requests and suggestions are welcome.</a>
                </p>
            </div>
        </div>
    </div>
</div>