<div class="container container-main">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                Maps
            </h1>
            <p class="lead">
                Maps created using Tinata
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-6">
                    <a href="maps/lgbt-rights"><h3><i class="fa fa-map-marker"></i> LGBT rights</h3></a>
                    <p class="lead">
                        Countries where members of the Lesbian Gay Bisexual & Transgender Community are subject to persecution.
                    </p>
                 </div>
                <div class="col-sm-6">
                    <a href="maps/economies"><h3><i class="fa fa-map-marker"></i> Global economies</h3></a>
                    <p class="lead">
                        Income disparity, as measured by the World Bank
                    </p>
                </div>
            </div>
         </div>
        <div class="col-sm-3">
            <div class="well">
                <h3 style="margin-top: 0;">About these maps</h3>
                <p>
                    Maps are currently in beta and may not display correctly on all devices.
                </p>
                <p>
                    Maps created with <a href="http://polymaps.org">PolyMaps</a>, data from the <a href="http://thematicmapping.org">World Borders Dataset</a> and open data from <strong>Tinata</strong>.
                </p>
            </div>
        </div>
    </div>
</div>