<div class="container container-main">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                Maps
            </h1>
            <p class="lead">
                Maps created using the Tinatapi API (BETA!)
            </p>
            <div class="row">
                <div class="col-sm-6">
                    <a href="maps/lgbt-rights"><h3><i class="fa fa-map-marker"></i> LGBT rights</h3></a>
                    <p class="lead">
                        Countries where members of the Lesbian Gay Bisexual & Transgender Community are subject to persecution.
                    </p>
                 </div>
                <div class="col-sm-6">
                    <a href="maps/economies"><h3><i class="fa fa-map-marker"></i> Global economies</h3></a>
                    <p class="lead">
                        Income disparity, as measured by the World Bank
                    </p>
                </div>
            </div>
            <h3>About these maps</h3>
            <p>
                These maps are currently experimental; data for some countries are not displayed and the maps may not display correctly on all devices.
            </p>
            <p>
                Simple step-by-step instructions on how to create elegant, interactive and responsive maps using data from <strong>Tinatapi</strong> will be added soon.
            </p>
         </div>
    </div>
</div>