body {
    background: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    -moz-background-size: cover;
}

.interactive:hover {
    cursor: pointer;
}

.flag {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -moz-background-size: contain;
}

.navbar.navbar-default {
    margin-bottom: 40px;
}

@media(max-width:767px) {
    .navbar.navbar-default {
        margin-bottom: 0px;
    }
}

.navbar.navbar-default,
.navbar.navbar-default .container {
    background: #fff;
}

.jumbotron {
    padding: 60px 0;
    margin-bottom: 0;
    background: none;
}

@media(max-width:767px) {
    .jumbotron {
        padding: 0px 20px;
    }
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 72px;
}

@media(max-width:767px) {
    .jumbotron h1 {
        font-size: 42px;
        line-height: 42px;
    }
}

.jumbotron .lead {
    font-size: 32px;
    line-height: 56px;
    text-shadow: 0 1px 1px #fff;
}

@media(max-width:767px) {
    .jumbotron .lead {
        margin-top: 10px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        text-shadow: none;
    }
}

.jumbotron .fa-stack {
    margin-right: 20px;
}

.container {
    padding: 10px 20px;
}

.container.container-main {
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: #fff;
}

.container.container-main h1 {
    margin-top: 10px;
}

.wrapper-home {
    background: #fff;
}

.wrapper-home .container.container-main {
    background: none;
}

.alert.padding-xs {
    padding: 5px 10px;
}

.well.well-code {
    border-color: #000;
    background: #222;
    color: #fff;
}

.well.well-code a {
    color: #00d2ff !important;
}

.alert {
    border-width: 0;
    border-left-width: 10px;
    border-radius: 0;
    margin-bottom: 10px;
    
}