body {
    background: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    -moz-background-size: cover;
}

table thead {
    background: #FFF;
}

table p {
    margin-bottom: 0;
}

.interactive:hover {
    cursor: pointer;
}

.flag {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -moz-background-size: contain;
}

.flag-inline {
    position: relative;
    top: -4px;
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.navbar.navbar-default {
    margin-bottom: 40px;
}

.navbar.navbar-default a,
.navbar.navbar-default a:link,
.navbar.navbar-default a:visited {
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0px;
    margin-left: 10px;
    margin-right: 30px;
    color: #555;
    border-bottom: 4px solid transparent;
}

.navbar.navbar-default a:hover,
.navbar.navbar-default a:active {
    color: #000;
    border-bottom: 4px solid #c2d4e5;
}

@media(max-width:767px) {
    .navbar.navbar-default {
        margin-bottom: 0px;
    }
}

.navbar.navbar-default,
.navbar.navbar-default .container {
    background: #fff;
}

.navbar .navbar-brand {
    font-weight: 600;
}

.jumbotron {
    padding: 60px 0;
    margin-bottom: 0;
    background: none;
}

@media(max-width:767px) {
    .jumbotron {
        padding: 0px 20px;
    }
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 72px;
    font-weight: 200;
    text-shadow: 0 1px 1px #fff, 0 5px 20px #fff;
}

.jumbotron h1 .fa-stack {
    text-shadow: none;
    text-shadow: 0 0 100px #fff;
}

@media(max-width:767px) {
    .jumbotron h1 {
        font-size: 42px;
        line-height: 42px;
    }
}

.jumbotron .lead {
    padding-top: 10px;
    font-size: 32px;
    line-height: 32px;
    text-shadow: 0 1px 1px #fff, 0 5px 20px #fff;
}

@media(max-width:767px) {
    .jumbotron .lead {
        margin-top: 10px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 300;
    }
}

.jumbotron .fa-stack {
    margin-right: 20px;
}

.container {
    padding: 10px 20px;
}

.container.container-main {
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: #fff;
}

.container.container-main h1 {
    margin-top: 10px;
}

.wrapper-home {
    background: #fff;
}

.wrapper-home .container.container-main {
    background: none;
}

.alert.padding-xs {
    padding: 5px 10px;
}

.well.well-code {
    border-color: #000;
    background: #222;
    color: #fff;
}

.well.well-code a {
    color: #00d2ff !important;
}

.alert {
    border-width: 0;
    border-left-width: 10px;
    border-radius: 0;
    margin-bottom: 10px;

}

ul.map-legend .colorWell {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

ul.map-legend li span {
    padding-right: 20px;
    margin-bottom: 10px;
}

@media(max-width:767px) {
    ul.map-legend li {
        clear: both;
    }
}

svg.map {
  width: 100%;
  height: 100%;
}

.world-map {
    position: relative;
    height: 600px;
    visibility: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.world-map #country-name {
    position: absolute;
    left: 0;
    top: 10px;
    background: rgba(255,255,255,0.75);
}