<div class="container container-main">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                Global economies
            </h1>
            <p class="lead">
                Income disparity, as measured by the World Bank
            </p>
            <ul class="list-unstyled map-legend">
                <li>
                    <div class="colorWell pull-left" style="background: darkgreen;"></div>
                    <span class="pull-left">High income</span>
                </li>
                <li>
                    <div class="colorWell pull-left" style="background: gold;"></div>
                    <span class="pull-left">High middle income</span>
                </li>
                <li>
                    <div class="colorWell pull-left" style="background: orange;"></div>
                    <span class="pull-left">Low middle income</span>
                </li>
                <li>
                    <div class="colorWell pull-left" style="background: maroon;"></div>
                    <span class="pull-left">Low income</span>
                </li>
            </ul>
            <div id="map" class="world-map">
                <h3 id="country-name"></h3>
                <div id="zoom-btns">
                    <div class="zoom-btn" onclick="map.zoomBy(0.5)">+</div>
                    <div class="zoom-btn" onclick="map.zoomBy(-0.5)">-</div>
                </div>
            </div>
            <br/>
            <p class="text-right">
                <a href="#source" id="toggle-source" class="btn btn-default btn-sm pull-left"><i class="fa fa-lg fa-code"></i> View source code</a>
                Map created with <a href="http://polymaps.org">PolyMaps</a>, the <a href="http://thematicmapping.org">World Borders Dataset</a> and <strong>Tinatapi</strong>.
            </p>
            <div id="source" style="display: none;">
                <h3>Source code</h3>
                <h4>HTML</h4>
<pre id="view-html" class="prettyprint">
&lt;!-- The object on the page to insert the map into --&gt;
&lt;div id="map" class="world-map"&gt;
    &lt;h3 id="country-name"&gt;&lt;/h3&gt;
&lt;/div&gt;

&lt;!-- jQuery is used in the example to make JSON requests and for DOM manipulation --&gt;
&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
&lt;!-- Modernizr is required by Polymaps --&gt;
&lt;script src="/js/modernizr.min.js"&gt;&lt;/script&gt;
&lt;!-- Polymaps is used to draw the maps --&gt;
&lt;script src="/js/polymaps.min.js"&gt;&lt;/script&gt;
</pre>
                <h4>JavaScript</h4>
                <pre id="view-javascript" class="prettyprint"></pre>
            </pre>
         </div>
    </div>
</div>
<script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<script type="text/javascript" src="/js/modernizr.min.js"></script>
<script type="text/javascript" src="/js/polymaps.min.js"></script>
<script id="javascript-source">
// Initalise PolyMaps
var po = org.polymaps;

// Add map to the div with the id "map"
var map = po.map()
    .container(document.getElementById("map").appendChild(po.svg("svg")))
    .center({lat: 30, lon: 0})
    .zoom(2.1);

// Fetch the JSON that powers the SVG overlay
map.add(po.geoJson()
    .url("/js/world-polymap.json")
    .tile(false)
    .zoom(3)
    .on("load", mapLoaded));

map.add(po.drag());
map.zoomRange([1.5, 6]) 

function mapLoaded(e) {
    // Get data for all countries from Tinatapi (using jQuery to make the Ajax request)
    $.getJSON( "/countries.json", function(countriesJson) {

        $('#map').css({visibility: 'visible'});

        // Convert list of countries to be indexed by 2 character ISO code
        // for efficient lookup e.g. countries.US.name = "United States"
        var countries = {};
        for (i in countriesJson) {
            countries[ countriesJson[i].iso2 ] = countriesJson[i];
        }
        
        for (var i = 0; i < e.features.length; i++) {
            var feature = e.features[i];
            
            // Skip countries not found in countriesJson
            if (!countries[ feature.data.properties.iso2 ]) {
                // Still plot the country, but it won't be interactive
                $(feature.element).attr("style", "fill: #ccc;");
                continue;
            }

            var country = countries[ feature.data.properties.iso2 ];
            var tileStyle = "fill: #ccc;";

            if (country.economy) {
                if (country.economy.incomeRating) {
                    if (country.economy.incomeRating == 1) // Low income
                        tileStyle = "fill: maroon;";
                    if (country.economy.incomeRating == 2) // Low medium income
                        tileStyle = "fill: orange;";
                    if (country.economy.incomeRating == 3) // High medium income
                        tileStyle = "fill: gold;";
                    if (country.economy.incomeRating == 4) // High income
                        tileStyle = "fill: darkgreen;";
                }
            }
            
            // Show/hide country name on mouseover
            $(feature.element).on('mouseover', function() {
                $('#country-name').html( $(this).data('countryName') );
            });
            $(feature.element).on('mouseout', function() {
                $('#country-name').html('');
            });
            
            // Link to more information if the country is clicked
            $(feature.element).on('click touch', function() {
                window.location = "/countries/"+encodeURIComponent( $(this).data('countryName').replace(" ", "_") );
            });

            // Draw the SVG for the country
            $(feature.element)
                .attr("style", tileStyle)
                .attr("class", "interactive")
                .attr("data-country-name", country.name);
        }
    });
}
</script>
<script>
    $('#view-javascript').html( $('#javascript-source').html() );
    $( "#toggle-source" ).on("click touch", function() {
        $(this).hide();
        $("#source").toggle("slow");
    });
</script>
